.App {
    height: 100%;
    padding-top: 10px;
    background-color: #1b1b32;
    font-family: serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-calculadora {
    width: 400px;
    height: 620px;
    background-color: #99c9ff86;
    border-radius: 20px;
    border: 5px solid white;
    margin: 50px;
}

.fila {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}